<div class="contents row">
  <p><%=@nickname %>さんの投稿一覧</p>
  <% @photos.each do |photo| %>
    <div class="content_post" style="background-image: url(<%= photo.title_image %>);">
      <p><%= photo.title %></p>
    </div>

  <% end %>
</div>